{% load static %}
<link href="{% static 'User_management/style.css' %}" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    

</head>
<body>

    <a href="/add_user"><button class="mybutton">Add User</button></a>
    <h1><center>{{message}}</center></h1>
    <div class="mybutton-logout">
        Hello,{{username}},<a href="/logout">Logout</a>
    </div>
    
    <a href="/existing_user"><button class="mybutton-list">List User</button></a>
</body>
</html>